.logoHome{
  width:400px;
    margin: 20px auto;

}

.welcome {
    display: flex;
    font-size: 1.4rem;
  }

.login, .register {
    margin : 0 20px;
    display: flex;
  }

  .btnhome {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
    margin: 20px auto;
    background-color: rgb(233, 167, 167);
  }

  .homeTitle {
    margin: 5px;
    font-size: 1.2rem;

  }

  .homeTitle.greentxt {
    color: #c2c982;
  }

  .homeTitle.yellowtxt {
    color: #fbb27b 
  }

  .homeTitle-container{
    margin: 40px

  }